<% @title="CSPP 52553 | Week 2 Homework - Favorites" %>
<!-- /favorites content -->
<h1>Here is an unordered list of my favorite things:</h1>
<ul>
	<li>Travel</li>
	<li>Computer Science</li>
	<li>Politics</li>
</ul>